// Chat 
.chat {
  border-radius: 50px;

  .chat-left-side {
    .chat-search {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .slimScrollDiv {
      height: 373px !important;
      overflow: auto;

      @include media-breakpoint-up(xl) {
        height: calc(100vh - 350px) !important;
      }
    }

    #chat-left-content {
      position: relative;
      height: 373px !important;
      overflow: auto;

      @include media-breakpoint-up(xl) {
        height: calc(100vh - 350px) !important;
      }
    }
  }

  .chat-right-side {
    border-left: 1px solid $border-color;

    .chat-right-content {
      padding: 1.5rem;
    }
    .slimScrollDiv {
      height: 373px !important;
      overflow: auto;

      @include media-breakpoint-up(xl) {
        height: calc(100vh - 350px) !important;
      }
    }
    #chat-right-content {
      position: relative;
      height: 325px !important;
      overflow: auto;

      @include media-breakpoint-up(xl) {
        height: 100vh !important;
      }
    }
  }  
  
}
