/*===== COMPACT SPACING =====*/

.compact-spacing {

  /* Navbar */
  .navbar {
    min-height: 60px;
    .sidebar-offcanvas-toggle,
    .sidebar-toggle {
      height: 60px;
    }

    /* Navbar Right */
    .navbar-right {
      .navbar-nav {
        .user-menu {
          .dropdown-toggle {
            line-height: 60px;
          }
        }
        .notifications-menu {
          .dropdown-toggle {
            line-height: 60px;
          }
        }
        .right-sidebar-2-menu {
          i {
            line-height: 60px;
          }
        }
      }
    }
  }

  /* Github Icon */
  .github-link {
    top: -8px;
    i {
      top: 0px;
      right: 5px;
    }

    svg {
      width: 69px;
      height: 69px;
    }
  }

  /* App Brand */
  .app-brand {
   
    a {
      height: 61px;
      line-height: 61px;
      transition: all .429s !important;
    }
  }


  
}// compact-spacing