/* General */

.theme-option-switcher-btn {
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  background: #363636;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  margin-left: -40px;
  min-width: 40px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.theme-icon-option i {
  font-size: 20px;
}

.theme-option-switcher-btn.theme-icon-option.theme-cross .mdi-settings:before {
  content: "\f5ad";
}
.theme-option-switcher-btn.theme-icon-option.theme-cross .mdi-spin:before {
  animation: unset;
}

.theme-option-switcher {
	right: 0;
	top: 0px;
	color: #fff;
	width: 315px;
	display: block;
	z-index: 555555;
	position: fixed;
	background: #202020;
	border-radius: 0;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.theme-option-visible {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* Slelect box */
.theme-select {
  width: 100%;
  height: 31px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Others*/
.theme-option-switcher .theme-option-switcher-heading {
	color: #fff;
	font-size: 18px;
	font-weight: 200;
}

.theme-subtitle {
	color: #fff;
	font-size: 16px;
	opacity: 0.3;
	display: block;
	margin-bottom: 15px;
	margin-top: 10px;
}

.theme-option-switcher .theme-btn {
	color: #ececec;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;
	border: solid 1px #ececec;
	border-radius: 2px !important;
	padding: 4px 10px;
	width: 48%;
	text-align: center;
  margin-right: 10px;
  text-decoration: none;
  line-height: 21px;
}

.theme-option-switcher .theme-btn.theme-active-switcher-btn,
.theme-option-switcher .theme-btn.theme-active-switcher-btn {
	background-color: #ececec;
	color: #000000;
	text-decoration: none;
}

/*Style Swticher Header*/
.theme-option-swticher-header {
	padding: 10px 15px;
	border-radius: 4px 4px 0 0 !important;
	background-color: #363636;
	width: 260px;
	display: block;
	margin: 20px auto;
}

.theme-option-swticher-header .option-switcher-heading {
	margin: 0;
	font-size: 16px;
}

/*Style Swticher Body*/
.theme-option-swticher-body .no-col-space {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.theme-option-swticher-body hr {
	margin: 11px 0;
	border-color: #454545;
}

.theme-option-swticher-body {
	padding: 15px 15px;
	margin: 0 auto;
	width: 260px;
	background: #454545;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*Theme Colors*/
.theme-option-switcher .theme-list-unstyled {
	padding-bottom: 10px;
  padding-left: 0;
  list-style: none;
}

.theme-option-switcher li {
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: #c00;
	display: inline-block;
	border-radius: 10% !important;
	border: solid 2px #909090;
	margin-right: 6px;
}
.theme-option-switcher li:last-child {
	margin-right: 0;
}

.theme-option-switcher li:hover,
.theme-option-switcher li.theme-active,
.theme-option-switcher li.pattern-active {
	border: solid 2px #fff;
}

.theme-option-switcher li.theme-default {
	background: #f0c24b;
}

.theme-option-switcher li.theme-color1 {
	background: #ea7066;
}

.theme-option-switcher li.theme-color2 {
	background: #b5d56a;
}

.theme-option-switcher li.theme-color3 {
	background: #a597e7;
}

.theme-option-switcher li.theme-color4 {
	background: #ea77ad;
}

.theme-option-switcher h3{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 15px;
	font-weight: 600;
}

.theme-option-switcher .body-background{
	margin-top: 25px;
}

.theme-option-switcher li.pattern-default {
	background: url("pattern1.png") center repeat;
}

.theme-option-switcher li.pattern1 {
	background: url("pattern2.png") center repeat;
}

.theme-option-switcher li.pattern2 {
	background: url("pattern3.png") center repeat;
}

.theme-option-switcher li.pattern3 {
	background: url("pattern4.png") center repeat;
}

.theme-option-switcher li.pattern4 {
	background: url("pattern5.png") center repeat;
}

.theme-option-switcher li.pattern5 {
	background: url("pattern5.png") center repeat;
}

.theme-option-switcher li.pattern6 {
	background: url("pattern6.png") center repeat;
}

.theme-option-switcher li.pattern7 {
	background: url("pattern7.png") center repeat;
}

/* Theme Option RTL */
html[dir="rtl"] .theme-option-switcher {
  right: unset;
  left: 0;
  -webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
html[dir="rtl"] .theme-option-visible {
  -webkit-transform: translateX(0%);
	transform: translateX(0%);
}
html[dir="rtl"] .theme-option-switcher-btn {
  right: -40px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

