
              <div class="card card-default rounded bg-white mb-4">
                <div class="card-header bg-white border-bottom-0 pb-xl-0 pt-5">
                  <h2>Profile</h2>
                  <img class="rounded-circle d-flex mx-auto mt-4" src="assets/img/user/u6.jpg" alt="user image">
                  <div class="card-img mx-auto ">
                  </div>
                </div>
                <div class="card-body text-center">
                  <h4 class="py-2 text-dark">Albrecht Straub</h4>
                  <p >Albrecht.straub@gmail.com</p>
                  <a class="btn btn-primary btn-pill btn-lg my-4" href="#">Follow</a>
                </div>
                <div class="d-flex justify-content-between px-5 pb-4">
                  <div class="text-center pb-4">
                    <h6 class="text-dark pb-2">1503</h6>
                    <p>Friends</p>
                  </div>
                  <div class="text-center pb-4">
                    <h6 class="text-dark pb-2">2905</h6>
                    <p>Followers</p>
                  </div>
                  <div class="text-center pb-4">
                    <h6 class="text-dark pb-2">1200</h6>
                    <p>Following</p>
                  </div>
                </div>
              </div>
