                        
                          <!-- User Acquisition Statistics -->
                          <div class="card card-default" id="user-acquisition">
                            <div class="card-header justify-content-between pb-5">
                              <h2>User Acquisition</h2>
                            </div>

                            <ul class="nav nav-tabs nav-style-border justify-content-between justify-content-lg-start border-bottom" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#traffic-channel" role="tab" aria-controls="" aria-selected="true">Traffic Channel</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#source-medium" role="tab" aria-controls="" aria-selected="false">Source / Medium </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#referrals" role="tab" aria-controls="" aria-selected="false">Referrals</a>
                              </li>
                            </ul>
                            <div class="tab-content p-3 p-lg-5" id="myTabContent">
                              <div class="tab-pane fade show active pb-4" id="source-medium" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="mb-5" style=" height:32vh">
                                  <canvas id="acquisition" class="chartjs2"></canvas>
                                  <div id="acqLegend" class="customLegend mb-2"></div>
                                </div>
                              </div>
                            </div>
                            <div class="card-footer d-flex flex-wrap bg-white">
                              <a href="#" class="text-uppercase py-3">Audience Overview</a>
                            </div>
                          </div>
