/*===== 4.1 ALERT =====*/
label {
  text-transform: capitalize;
}
.alert {
  font-size: 15px;
  font-weight: 500;
  color: $dark;
  &.alert-highlighted {
    color: $white;
    &.alert-primary {
      background-color: $primary;
    }
    &.alert-secondary {
      background-color: $secondary;
    }
    &.alert-success {
      background-color: $success;
    }
    &.alert-danger {
      background-color: $danger;
    }
    &.alert-warning {
      background-color: $warning;
    }
    &.alert-info {
      background-color: $info;
    }
    &.alert-light {
      background-color: $light;
      color: $dark;
    }
    &.alert-dark {
      background-color: $dark;
    }
  }
  &.alert-outlined {
    background-color: transparent;
    color: $dark;
  }
}

/* Toaster  */
#toast-container{
  margin-top: 65px;
  z-index: 999;
  .toast-success {
    background-color: $primary;
    opacity: 1;
  }
}
#toast-container>div{
  box-shadow: none;
}
#toast-container>div:hover{
  box-shadow: none;
}
