/*===== 4.6 BADGE =====*/
.badge {
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  text-transform: capitalize;
  color: $white;
  font-weight: 500;
  &.badge-primary {
    background-color: $primary;
  }
  &.badge-success {
    background-color: $success;
  }
  &.badge-secondary {
    background-color: $white;
    border: 1px solid $secondary;
    color: $secondary;
  }
  &.badge-warning {
    background-color: $warning;
  }
  &.badge-danger {
    background-color: $danger;
  }
}
.badge-pill {
  border-radius: 50px;
}
.badge-default {
  display: inline-block;
  font-size: 75%;
  color: $dark;
  background: #b4bbcc;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
