/*===== CALENDAR =====*/
.fc-header-toolbar{
  padding-bottom: 15px;
  .fc-button {
    margin-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: $secondary;
    text-transform: capitalize;
    box-shadow: none;
    background: transparent;
    border-color: $border-color;
    @include media-breakpoint-up(lg) {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0px;
    }
  }
  .fc-button:not(.fc-today-button) {
    &:hover, &:focus {
      outline: none;
      background: $primary;
      border-color: $primary;
      color: $white;
      @include box-shadow(0px, 5px, 9px, rgba(55, 103, 208, 0.2));
    }
  }
  .fc-prev-button .fc-icon-left-single-arrow:after {
    content: "\f104";
    font-family: $font-family-font-awesome;
    font-size: 24px;
    font-weight: 400;
  }
  .fc-next-button .fc-icon-right-single-arrow:after {
    content: "\f105";
    font-family: $font-family-font-awesome;
    font-size: 24px;
    font-weight: 400;
  }
}
.fc-center {
  h2 {
    color: $dark;
    font-size: 20px;
  }
}

.fc-view-container .fc-head th.fc-widget-header {
  padding: 15px 0;
}
.fc-unthemed td.fc-today {
  background: transparent;
  a.fc-day-number {
    width: 20px;
    height: 20px;
    background: $primary;
    border-radius: 100px;
    color: $white;
    text-align: center;
  }
}
.fc-event-container {
  .fc-content {
    padding: 3px 5px;
  }
}
