/*===== 4.8 CHART =====*/
.world-data-chart {
  padding-left: 30px;
  padding-right: 30px;
  // @include media-breakpoint-up(xxl) {
  //   padding-left: 50px;
  //   padding-right: 50px;
  // }
  &.bdr-bottom {
    @include media-breakpoint-up(xl) {
      border-bottom: 0;
      border-right: 1px solid $border-color;
    }
  }
}

#linechart {
  @include media-breakpoint-up(xl) {
    min-height: 280px;
  }
}
#doChart {
  @include media-breakpoint-up(xl) {
    min-height: 210px;
  }
}
#polar,
#radar {
  min-height: 200px;
  @include media-breakpoint-up(md) {
    min-height: 230px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 270px;
    min-width: 100%;
  }
}
#currentUser {
  @include media-breakpoint-up(xl) {
    min-height: 283px;
  }
}
#activity {
  @include media-breakpoint-up(xl) {
    min-height: 280px;
  }
}

#deviceChart {
  min-height: 200px;
  @include media-breakpoint-up(md) {
    min-height: 230px;
  }
}

/* Coutom Lenged*/
.customLegend li {
  display: inline-block;
  margin-right: 25px;
  margin-top: 30px;
  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 25px;
  }
}
