/*===== DATERANGEPICKER =====*/
.daterangepicker {
  .ranges {
    ul {
      @include media-breakpoint-up(lg) {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        width: auto;
        min-width: 10rem;
      }
    }
    li {
      padding: 0.625rem 1.9rem;
      font-size: 0.875rem;
    }
    li.active {
      background-color: $primary;
    }
  }
  &:before,
  &:after {
    display: none;
  }
  .drp-buttons .btn {
    padding: 0 1.25rem;
  }
  td.in-range {
    background-color: rgba($primary, .1);
  }
  td.active,
  td.active:hover{
    background-color: $primary;
  }
  td.available:hover,
   {
    background-color: $primary;
    color: $white;
  }

}

/* Ragnge Date Picker */
.date-range-report {
  span {
    cursor: pointer;
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 1em;
      content: "";
      border-right: 5px solid transparent;
      border-bottom: 0px;
      border-top: 6px solid;
      border-left: 5px solid transparent;
      vertical-align: middle;
    }
  }
}
 