/*===== 4.15 EDITORS =====*/
/* Code Mirror*/
.CodeMirror {
  height: auto;
  border: 1px solid #ddd;
}
.CodeMirror-scroll {
  max-height: 700px;
}
.CodeMirror pre {
  padding-left: 7px; 
  line-height: 1.25; 
}

/* Quill Editor */
.ql-toolbar.ql-snow {
  border: 1px solid $border-color;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
}
.ql-container.ql-snow {
  border: 1px solid $border-color;
  border-radius: 0 0 4px 4px ;
  min-height: 300px;
  padding: 12px;
}
.ql-editor {
  padding: 10px 8px;
}
.ql-editor.ql-blank::before {
  color: $text-color;
  content: attr(data-placeholder);
  font-style: normal;
  left: 20px;
  font-size: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Markdown Editor */
.md-editor {
  &>textarea,
  &>.md-preview {
    padding: 20px;
  }
}
