/* ======================================
--> 7. EMAIL
========================================= */
.email-options {

  ul li {
    position: relative;
    a {
      color: $secondary;
      font-weight: 500;
      display: block;

      &:hover {
        color: $dark;
         > i {
           color: $primary;
         }
      }
    }

    &.active a {
      color: $dark;
       > i {
         color: $primary;
       }
    }

    span.badge {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 12px;
      font-size: 13px;
      color: $primary;
      border-color: transparent;
      background: $gray-100;
    }
  }
}
.email-body {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $border-color;
  }
  .head-left-options {
    .form-check {
      display: inline-block;
      font-weight: 500;
      padding: 0.59rem 1rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }

  .table {
    tr td {
      padding: 20px 10px;
      white-space: nowrap;
      vertical-align: middle;
      @include media-breakpoint-up(lg) {
        white-space: normal;
      }

      .badge {
        margin-right: 10px;
        text-transform: uppercase;
      }
    }

    tr.unread {
      background: $gray-100;
    }
  }
}

.email-content {
  > .email-img img {
    max-width: 120px;
    @include media-breakpoint-up(xl) {
      max-width: 150px;
    }
  }
  p {
    line-height: 1.6;
  }
}

.email-compose {
  .form-control {
    padding: 12px 17px;
  }
  .file-upload>input {
    display: none;
  }

  .file-upload i {
    font-size: 16px;
    cursor: pointer;
  }
}

.dropzone {
  border: 0;
}

.mark-mail {
  .control-indicator {
    top: -10px;
    left: 5px;
  }
}
