
/* Custom Container */
#page-container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

/* Content Wrapper */
.content-wrapper {
  min-height: 100%;
  background-color: #f5f6fa;
  z-index: 800;
  @include transition(margin-left 0.25s ease-in);

  @include media-breakpoint-up(md) {
    margin-left: 250px;
  }
  .content {
    min-height: 77vh;
    padding: 30px 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg) {
      padding: 30px 40px;
    }
    @include media-breakpoint-up(xl) {
      padding: 40px 50px;
    }
    @include media-breakpoint-up(xxl) {
      padding: 80px 100px;
    }
  }
}

.main-wrapper {
  position: relative;
  z-index: 1030;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
    overflow-x: auto;
  }
}
