/* ======================================
  --> 2. NAVBAR
========================================= */
.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  margin-bottom: 0;
  padding: 0;
  transition: box-shadow .2s linear;
  .logo {
    @include transition(width .3s ease-in-out);
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 75px;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    overflow: hidden;
  }
  .logo .logo-mini {
    display: none;
    margin: 0 auto;
  }
  .logo .logo-lg {
    display: block;
    margin: 0 auto;
  }
  .navbar {
    margin-bottom: 0;
    margin-left: 250px;
    border: none;
    min-height: 75px;
    border-radius: 0;
    padding: 0px;
    border-bottom: 1px solid $border-color;
    @include transition(margin-left .3s ease-in-out);
    background-color: $white;
  }
  .sidebar-toggle {
    background-color: transparent;
    background-image: none;
    color: $secondary;
    font-size: 22px;
    padding: 0px 23px;
    border: 0px;
    height: 75px;
    cursor: pointer;
    border-right: 1px solid $border-color;
    @include media-breakpoint-up(md) {
    }
    &:before {
      content: "\e800";
      font-family: $font-family-font-fontello;
    }
  }
  .sidebar-offcanvas-toggle {
    background-color: transparent;
    background-image: none;
    color: $secondary;
    font-size: 22px;
    padding: 0px 23px;
    border: 0px;
    height: 75px;
    cursor: pointer;
    border-right: 1px solid $border-color;
    @include media-breakpoint-up(md) {
    }
    &:before {
      content: "\e800";
      font-family: $font-family-font-fontello;
    }
  }

  /* Search Form */
  .search-form {
    margin-right: auto;
    padding-left: 20px;
    background: transparent;

    .input-group {
      margin-bottom: 0px;
    }

    .btn {
      background: transparent;
      border: none;
      color: $secondary;
      font-size: 22px;
      padding: 5px;
      padding-top: 2px;
      &:active, &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    input.form-control {
      border: none;
      background: transparent;
      padding: 8px 15px;
      @include media-breakpoint-up(xxl) {
        min-width: 500px;
      }
    }
  }
  .navbar-nav {
    flex-wrap: nowrap;
  }
  .navbar-custom-menu {
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      > li {
        &.notifications-menu {
          > .dropdown-toggle {
            position: relative;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-top: 0;
            border-bottom: 0;
            padding-left: 20px;
            padding-right: 10px;
            font-size: 26px;
            height: 75px;
            color: #b7c0cd;
            display: inline-block;
            line-height: 75px;
            background-color: transparent;
            cursor: pointer;
            @include media-breakpoint-up(md) {
              padding-left: 16px;
              padding-right: 5px;
            }
            @include media-breakpoint-up(lg) {
              padding-left: 20px;
              padding-right: 10px;
            }
            &:after {
              border: 3px solid $primary;
              content: '';
              margin: 0px;
              position: relative;
              width: 11px;
              height: 11px;
              border-radius: 100px;
              top: -18px;
              left: -17px;
            }
          }
          >.dropdown-menu {
            width: 275px;
            right: 0px;

            @include media-breakpoint-up(md) {
              width: 300px;
            }
          }
        }
        &.user-menu {
          position: relative;
          background-color: transparent;
          .user-image {
            width: 40px;
            border-radius: 4px;
          }
          > .dropdown-toggle {
            margin: 0 15px;
            font-size: 15px;
            height: 75px;
            padding: 0px 0px;
            display: inline-block;
            line-height: 75px;
            background-color: transparent;
            border: none;
            > span {
              color: $dark;
              padding: 0 8px;
              font-size: 16px;
              font-weight: 500;
            }
          }
          .dropdown-toggle:after {
            border-top: 6px solid;
            border-left-width: 6px;
            border-right-width: 6px;
            vertical-align: middle;
            color: #b7c0cd;
          }
        }
      }
      > li >.dropdown-menu {
        position: absolute;
        right: 15px;
        left: auto;
      }
    }
  }
  .dropdown-menu {
    width: 215px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
    @include media-breakpoint-up(md) {
      width: 250px;
    }

    > li:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $white;
      border-bottom: 1px solid $border-color;
      padding-bottom: 15px;
      padding: 20px 20px 10px;
      color: #1b223c;
      font-size: 16px;
      margin-bottom: 10px;
      img {
        width: 50px;
        vertical-align: top;
        border-radius: 4px;
        margin-right: 10px;
      }
      small {
        font-size: 13px;
        display: block;
        color: $secondary;
      }
    }
    > li a {
      display: block;
      color: $secondary;
      font-size: 14px;
      padding: 10px 20px;

      &:hover {
        background-color: #f5f6fa;
      }

    >  i {
        width: 18px;
        display: inline-block;
        text-align: center;
        margin-right: 10px;
      }
    }

    li.dropdown-footer {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: $white;
      border-top: 1px solid $border-color;
      margin-top: 10px;
      > a {
        padding: 15px 20px;
      }
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: $secondary;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .main-header {
    position: relative;
  }
  .main-header .logo,
  .main-header .navbar {
    width: 100%;
    float: none;
  }
  .main-header .navbar {
    margin: 0;
  }
  .main-header .navbar-custom-menu {
    float: right;
  }
}

/*  Header Dark Version */
.header-dark .navbar {
  background: $navy;

  .sidebar-toggle {
    border-color: rgba($white,0.2);
  }
  .sidebar-offcanvas-toggle {
    border-color: rgba($white,0.2);
  }

  .search-form .btn,
  .search-form .input-group input.form-control {
    color: #b7c0cd;
  }

  .navbar-custom-menu .navbar-nav > .notifications-menu > .dropdown-toggle {
    border-color: rgba($white,0.2);
  }

  .navbar-custom-menu .navbar-nav > .user-menu > .dropdown-toggle > span {
    color: #b7c0cd;
  }
}

/* light Header */
.header-light .navbar {
  background-color: $white;
  .sidebar-toggle {
    border-color: $border-color;
  }
  .sidebar-offcanvas-toggle {
    border-color: $border-color;
  }

  .search-form .btn,
  .search-form .input-group input.form-control {
    color: $secondary;
  }

  .navbar-custom-menu .navbar-nav > .notifications-menu > .dropdown-toggle {
    border-color: $border-color;
  }

  .navbar-custom-menu .navbar-nav > .user-menu > .dropdown-toggle > span {
    color: $dark;
  }
}

/* For Sidebar Minified */
.sidebar-minified {
  .main-header .logo {
    width: 75px;
    .logo-mini {
      display: block;
    }
    .logo-lg {
      display: none;
    }
  }
  .navbar {
    @include media-breakpoint-up(md) {
      margin-left: 75px;
    }
  }
}

/* For Fixed Header */
.header-fixed {
  padding-top: 76px;
}

/* Sidebar Minified Out */
.sidebar-minified-out .sidebar .nav > li > a span {
  transition: opacity 0.3s ease-in-out 0.3s;
  visibility: visible;
  opacity: 1;
}
.sidebar-minified-out .sidebar li > a .caret {
  transition: opacity 0.3s ease-in-out 0.3s;
  visibility: visible;
  opacity: 1;
}

/* Dropdown Menu */
.dropdown-menu {
  border: 1px solid $border-color;
}
