/*===== 4.18 NAVS =====*/
.theme-menu {
  list-style: none;
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      font-family: 'Poppins', sans-serif;
      padding: 15px 0px;
      display: block;
      position: relative;
      color: $secondary;
      font-weight: 500;
      &:active, &:hover, &:focus {
        color: $dark;
      }
      > .fa,
      > .glyphicon,
      > i {
        width: 20px;
        font-size: 20px;
      }
    }
    .badge {
      border-radius: 50px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
  }
  li > a > .fa-angle-right,
  li > a > .pull-right-container > .fa-angle-right {
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 3px;
    @include transition(transform .5s ease);
  }
  li > a > .fa-angle-right {
    position: absolute;
    top: 50%;
    right: 10px;
  }
  .menu-open {
    > a > .fa-angle-right,
    > a > .pull-right-container > .fa-angle-right {
      // @include transform(rotate(90deg));
      transform: rotate(90deg);
    }
  }

  .treeview-menu {
    li a {
      background-color: transparent;
      color: $secondary;
      display: block;
      padding: 12px 30px;
      &:hover {
        color: $dark;
      }
    }
  }
  .active > .treeview-menu {
    display: block;
  }
}
.theme-menu.inline-navs {
  > li {
    padding:  0 30px;
    &.menu-open {
      background-color: $gray-100;
    }
  }
}
