/* ======================================
--> 9. PROFILE
========================================= */
.profile-content-right {
  @include media-breakpoint-up(lg) {
    border-top: 0px;
    border-left: 1px solid $border-color;
  }
  .nav-style-border.nav-tabs .nav-link {
    padding: 0 0 15px
  }
}
.profile-timeline-media {
  .media-body {
    > span {
      font-size: 13px;
    }
    >p {
      line-height: 1.6;
      padding-top: 32px;
    }
  }
}
