/* ======================================
--> 3. SIDEBAR NAVIGATION
========================================= */
.sidebar .nav>li>a:after {
  content: '';
  clear: both;
  display: table;
}
.sidebar, .sidebar-bg {
  width: 0px;
  left: 0;
  top: 0;
  bottom: 0;
  @include media-breakpoint-up(md) {
    width: 250px;
  }
}
.sidebar {
  z-index: -1;
  @include media-breakpoint-up(md) {
    z-index: 1050;
  }
  position: absolute;
  @include transform(translateZ(0));
  @include transition(width 0.3s ease-in-out);
  .logo {
    position: static;
    display: block;
    height: 75px;
    line-height: 75px;
    width: 100%;
    overflow: hidden;
    background-color: $primary-color;
    z-index: 1060;
    @include media-breakpoint-up(md) {
      padding-left: 25px;
    }
  }
  .logo .logo-title {
    position: absolute;
    color: $white-color;
    font-size: 18px;
    margin-left: 15px;
  }

  .nav {
    display: block;
    margin-top: 80px;
    >li {
      position: relative;
      >a {
        padding: 20px 25px;
        line-height: 20px;
        color: $text-color;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
.sidebar .nav>li.active>a {
  position: relative;
  z-index: 10;
  color: $white-color;
}
.sidebar .nav > li > a:before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: $primary-color;
  opacity: 0;
}
.sidebar .nav > li.active > a:before {
  opacity: 1;
}

/*  Nav menus Icon Styles */
.sidebar .nav>li>a span {
  position: absolute;
}
.sidebar .nav>li>a i {
  float: left;
  margin-right: 15px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}
.sidebar .nav > li.active > a i {
  color: $primary-color;
}

/* Caret styles */
.sidebar li>a .caret {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;

  &:before {
    content: '\f054';
    display: block;
    text-align: center;
    transition: all .2s linear;
    opacity: .5;
  }
}

.sidebar li>a .caret:before {
  font-family: 'FontAwesome'!important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.sidebar li.active>a .caret:before,
.sidebar li.expand>a .caret:before,
.sidebar li.expanding>a .caret:before {
  transform: rotate(0);
}

.sidebar li.active.expand>a .caret:before,
.sidebar li.expand>a .caret:before,
.sidebar li.expanding>a .caret:before {
  opacity: 1;
  transform: rotate(90deg);
}

.sidebar li.closed>a .caret:before,
.sidebar li.closing>a .caret:before {
  transform: rotate(0);
}

/*  sub-menu dropdowns */
.sidebar .sub-menu {
  list-style-type: none;
  padding: 0px 0 10px 45px;
  margin: 0;
  position: relative;
  display: none;

  >li>a {
    padding: 10px 20px 10px 15px;
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 14px;
  }

  > li .sub-menu {
    padding-left: 35px;

    >li>a {
      position: relative;
      font-size: 13px;
      padding-left: 0;

      &:after {
        position: absolute;
        content: '';
        top: 20px;
        left: -20px;
        border: 1px solid rgba(255,255,255, 0.2);
        width: 10px;
      }
    }
  }
}
.sidebar .has-sub.active.expand>.sub-menu {
  display: none;
}
.sidebar .has-sub  .has-sub .caret {
  top: 12px;
}

/* Sidebar Minified */
.sidebar-minified.sidebar-fixed .sidebar {
  position: fixed;
  z-index: 1050;
}
.sidebar-minified .sidebar {
  width: 250px;
  position: absolute;
  z-index: 1050;

  @include media-breakpoint-up(md) {
    width: 75px;
  }
  .logo {
    padding-left: 20px;
    .logo-title {
      @include media-breakpoint-up(md) {
        opacity: 0;
        position: absolute;
      }
    }
  }

  .nav>li>a>.caret,
  .nav>li>a>span {
    position: absolute;
    opacity: 1;

    @include media-breakpoint-up(md) {
      opacity: 0;
    }
  }
  .nav>li>a>.caret {
    right: 15px;
  }
  .nav li.has-sub>.sub-menu {
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    margin: 0;

  }
  .nav li.has-sub.expand>.sub-menu {
    display: none!important;
    visibility: hidden;
    opacity: 0;
    @include transition(opacity 0.3s ease-in-out);
  }
}

.sidebar-minified .sidebar:hover {
  @include media-breakpoint-up(md) {
    width: 250px;
    .sidebar-progress {
      transition: opacity 0.3s ease-in-out 0.3s;
      visibility: visible;
      opacity: 1;
    }
    .sub-menu > li > a {
      width: 210px;
    }
  }

  .nav li.has-sub.expand>.sub-menu {
    @include transition(opacity 0.3s ease-in-out);
    display: block!important;
    opacity: 1;
    visibility: visible;
  }

  .nav>li>a>.caret,
  .nav>li>a>span {
    opacity: 1;
    @include transition(opacity 0.3s ease-in);
    transition-delay: 0.15s;
  }

  .logo-title {
    opacity: 1;
    @include transition(opacity 0.3s ease);
    transition-delay: 0.3s;
  }
}
.sidebar-minified .content-wrapper {
  @include media-breakpoint-up(md) {
    margin-left: 75px;
  }
}

.sidebar-minified {
  .sidebar-progress {
    transition: opacity 0.3s ease-in-out 0.3s;
    visibility: hidden;
    opacity: 0;

  }
}

/*Fixed Offcanvas Sidebar */
.header-fixed #header,
.sidebar-fixed .sidebar,
.sidebar-fixed-offcanvas .sidebar {
  position: fixed;
}

.sidebar-fixed-offcanvas,
.sidebar-fixed {
  .sidebar {
    .logo {
      position: fixed;
      top: 0;
    }
    .nav {
      margin-top: 155px;
    }
  }
  .sidebar.sidebar-with-footer {
    padding-bottom: 150px;
  }

  .sidebar-progress {
    @include media-breakpoint-up(md) {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    @include media-breakpoint-up(xxl) {
      padding-top: 25px;
    }
  }
}

/* Sidebar Static With Footer */
.sidebar-static,
.sidebar-static-offcanvas {
  .sidebar.sidebar-with-footer {
    .slimScrollDiv {
      height: auto !important;
    }
  }
}

/* Mobile Sticky Body Overlay */
.mobile-sticky-body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: rgba(0,0,0,.5);

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1045;
  }
}

/* sidebar Collapse */
.sidebar-collapse {
  @include media-breakpoint-up(md) {
    .sidebar {
      margin-left: -250px;
      @include transition(margin-left 0.3s ease-in);
    }
    .content-wrapper {
      margin-left: 0;
    }
    .main-header .navbar {
      margin-left: 0;
    }
  }
}

/* sidebar Out Collapse */
.sidebar-collapse-out {
  @include media-breakpoint-up(md) {
    .sidebar {
      margin-left: 0px;
      @include transition(margin-left .3s );
    }
    .content-wrapper {
      margin-left: 250px;
    }
    .main-header .navbar {
      margin-left: 250px;
    }
  }
}

/* sidebar Toggle */
.sidebar {
  .sidebar-toggle {
    background-color: transparent;
    background-image: none;
    color: $white-color;
    font-size: 22px;
    padding: 0px 23px;
    border: 0px;
    cursor: pointer;
    border-right: 1px solid $border-color;
    @include media-breakpoint-up(md) {
    }
    &:before {
      content: "\e800";
      font-family: "fontello";
    }
  }
}

/* Sidebar Bg Dark */
.sidebar-dark {
  .sidebar {
    background-color: $navy;
    .sub-menu {
      background: #1d2531;
      > li > a {
        color: #b7c0cd;
      }
    }
    .sub-menu>li.active>a,
    .sub-menu>li.active>a:focus,
    .sub-menu>li.active>a:hover,
    .sub-menu>li>a:focus,
    .sub-menu>li>a:hover {
      color: $white-color;
    }
    .nav > li.active > a {
      color: $white-color;
    }
  }
  .sidebar-progress {
    background-color: #212a39;
  }

}

/* Sidebar Light */
.sidebar-light {
  .sidebar {
    background-color: $white-color;
    border-right: 1px solid $border-color;
    .sub-menu {
      background-color: $white-color;
      > li > a {
        color: $text-color;
      }
    }
    .sub-menu>li.active>a,
    .sub-menu>li.active>a:focus,
    .sub-menu>li.active>a:hover,
    .sub-menu>li>a:focus,
    .sub-menu>li>a:hover {
      color: darken($text-color, 25%);
    }
    .nav > li.active > a {
      color: darken($text-color, 25%);
    }
  }
  .sidebar-progress {
    border-top: 1px solid $border-color;
    background-color: $white-color;
  }
  .sidebar .sub-menu > li .sub-menu > li > a:after {
    border: 1px solid $text-color;
  }
}

/* Bottom progressBar */
.sidebar-progress {
  padding: 0 30px;
  margin-top: 45px;
  padding-top: 45px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(255,255,255,0.2);
  > h6 {
    color: #b7c0cd;
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .progress {
    height: 15px;
    margin-bottom: 22px;
    overflow: hidden;
    background-color: #e4eaec;
    border-radius: .215rem;
  }
  .progress-xs {
    height: 4px;
    border-radius: 1px;
    .progress-bar {
      line-height: 4px;
      &.progress-bar-warning {
        background: $warning;
      }
    }
  }
}
