/* ======================================
--> 3. SIDEBAR NAVIGATION
========================================= */
.sidebar .nav>li>a:after {
  content: '';
  clear: both;
  display: table;
}

.layout-sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: -1;
  @include media-breakpoint-up(md){
    width: 250px;
    position: relative;
    z-index: 1;
  }
}


.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  z-index: 1050;
  min-height: 100vh;
  position: relative;
  .sidebar-inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 80px;
    >li {
      position: relative;
      >a {
        padding: 20px 25px;
        line-height: 20px;
        color: $secondary;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.sidebar {
  .sidebar-inner {
    > li {
      &.active > a {
        position: relative;
        z-index: 10;
        color: $white;
        &:before {
          opacity: 1;
        }
      }
      > a {
        &:before {
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          width: 3px;
          height: 100%;
          background: $primary;
          opacity: 0;
        }
      }
    }
  }
}

.sidebar .nav > li.active > a:before {
  opacity: 1;
}

/* App brand */
.app-brand {
  position: relative;
  overflow: hidden;
  display: block;

  .logo {
    display: block;
    height: 75px;
    line-height: 75px;
    width: 250px;
    overflow: hidden;
    background-color: $primary;
    vertical-align: middle;
    @include transition(width 0.3s ease-in-out);
    padding-left: 25px;
  }
  .logo .logo-title {
    color: $white;
    font-size: 18px;
    margin-left: 15px;
  }
}

/*  Nav menus Icon Styles */
.sidebar .nav>li>a span {
  position: absolute;
}
.sidebar .nav>li>a i {
  float: left;
  margin-right: 15px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}
.sidebar .nav > li.active > a i {
  color: $primary;
}

/* Caret styles */
.sidebar li>a .caret {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;

  &:before {
    content: '\f054';
    display: block;
    text-align: center;
    transition: all .2s linear;
    opacity: .5;
  }
}

.sidebar li>a .caret:before {
  font-family: 'FontAwesome'!important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.sidebar li.active>a .caret:before,
.sidebar li.expand>a .caret:before,
.sidebar li.expanding>a .caret:before {
  transform: rotate(0);
}

.sidebar li.active.expand>a .caret:before,
.sidebar li.expand>a .caret:before,
.sidebar li.expanding>a .caret:before {
  opacity: 1;
  transform: rotate(90deg);
}

.sidebar li.closed>a .caret:before,
.sidebar li.closing>a .caret:before {
  transform: rotate(0);
}

/*  sub-menu dropdowns */
.sidebar .sub-menu {
  list-style-type: none;
  padding: 0px 0 10px 45px;
  margin: 0;
  position: relative;
  display: none;

  >li>a {
    padding: 10px 20px 10px 15px;
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 14px;
  }

  > li .sub-menu {
    padding-left: 35px;

    >li>a {
      position: relative;
      font-size: 13px;
      padding-left: 0;

      &:after {
        position: absolute;
        content: '';
        top: 20px;
        left: -20px;
        border: 1px solid rgba(255,255,255, 0.2);
        width: 10px;
      }
    }
  }
}
.sidebar .has-sub.active.expand>.sub-menu {
  display: none;
}
.sidebar .has-sub  .has-sub .caret {
  top: 12px;
}

/* Sidebar Minified */
.sidebar-minified .layout-sidenav {
  width: 250px;
  z-index: 1050;
  height: 100%;

  @include media-breakpoint-up(md) {
    width: 75px;
    transition: width .3s ease-in;
  }
  .nav>li>a>.caret,
  .nav>li>a>span {
    position: absolute;
    opacity: 1;

    @include media-breakpoint-up(md) {
      opacity: 0;
    }
  }
  .nav>li>a>.caret {
    right: 15px;
  }
  .nav li.has-sub>.sub-menu {
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    margin: 0;

  }
  .nav li.has-sub.expand>.sub-menu {
    display: none!important;
    visibility: hidden;
    opacity: 0;
    @include transition(opacity 0.3s ease-in-out);
  }
}

.sidebar-minified .layout-sidenav:hover {
  @include media-breakpoint-up(md) {
    width: 250px;
    margin-right: -175px;
    .sidebar-progress {
      transition: opacity 0.3s ease-in-out 0.3s;
      visibility: visible;
      opacity: 1;
    }
  }

  .nav li.has-sub.expand>.sub-menu {
    @include transition(opacity 0.3s ease-in-out);
    display: block!important;
    opacity: 1;
    visibility: visible;
  }

  .nav>li>a>.caret,
  .nav>li>a>span {
    opacity: 1;
    @include transition(opacity 0.3s ease-in);
    transition-delay: 0.15s;
  }

  .logo-title {
    opacity: 1;
    @include transition(opacity 0.3s ease);
    transition-delay: 0.3s;
  }
}


.sidebar-minified:not(.layout-sidenav) .layout-sidenav {
  -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: margin-left, margin-right, width;
    transition-property: margin-left, margin-right, width;
}

.sidebar-static {
  &.sidebar-minified {
    .layout-container {
      .main-header {
        @include transition(padding-left 0.3s ease-in-out);
      }
    }
    &.header-fixed {
      .layout-container .main-header {
        padding-left: 75px;
      }
    }
  }
  &.sidebar-minified-out {
    .layout-sidenav {
      @include transition(width 0.3s ease-in-out);
    }
    .layout-container {
      .main-header {
        @include transition(padding-left 0.3s ease-in-out);
      }
    }
  }
}

.sidebar-minified {
  .sidebar-progress {
    transition: opacity 0.3s ease-in-out 0.3s;
    visibility: hidden;
    opacity: 0;

  }
}

/* Sidebar Fixed Minified Layout Container */
.sidebar-fixed.sidebar-minified {
  @include media-breakpoint-up(md){
    .layout-container {
      padding-left: 75px;
      @include transition(padding-left 0.3s ease-in-out);
    }
    &.header-fixed {
      .layout-container .main-header {
        padding-left: 75px;
        @include transition(padding-left 0.3s ease-in-out);
      }
    }
  }
}

/* Sidebar Minified Out */
.sidebar-minified-out .sidebar .nav > li > a span {
  transition: opacity 0.3s ease-in-out 0.3s;
  visibility: visible;
  opacity: 1;
}

.sidebar-minified-out .sidebar li > a .caret {
  transition: opacity 0.3s ease-in-out 0.3s;
  visibility: visible;
  opacity: 1;
}

.sidebar-fixed.sidebar-minified-out {
  .layout-sidenav {
    @include transition(width 0.3s ease-in-out);
  }
  .layout-container {
    @include transition(padding-left 0.3s ease-in-out);
    .main-header {
      @include transition(padding-left 0.3s ease-in-out);
    }
  }
  .sidebar-progress {
    @include transition(opacity 1.5s ease-in-out);
  }
}

/* Sidebar Fixed */
.sidebar-fixed-offcanvas,
.sidebar-fixed {
  .layout-sidenav {
    @include media-breakpoint-up(md){
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1060;
    }
  }
  .sidebar {
    .sidebar-progress {
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 250px;
        padding-top: 30px;
        padding-bottom: 10px;
      }
      @include media-breakpoint-up(xxl) {
        padding-top: 25px;
      }
    }

    .slimScrollDiv {
      @include media-breakpoint-up(md) {
        height: 100vh !important;
      }
    }

    &.sidebar-with-footer {
      .slimScrollDiv {
        height: calc(100vh - 88px) !important;
        @include media-breakpoint-up(md){
          height: calc(100vh - 225px) !important;
        }
      }
    }
  }
  .layout-container {
    @include media-breakpoint-up(md){
      padding-left: 250px;
    }
  }
}

/* Sidebar Collapse */
.sidebar-collapse {
  @include media-breakpoint-up(md) {
    .layout-sidenav {
      margin-left: -250px;
      @include transition(margin-left 0.3s ease-in-out);
    }
    .layout-container {
      @include transition(padding-left 0.3s ease-in-out);
    }
  }

}

/* Sidebar Out Collapse */
.sidebar-collapse-out {
  .layout-sidenav {
    @include media-breakpoint-up(md){
      margin-left: 0px;
      @include transition(margin-left 0.3s ease-in-out);
    }

  }
  .layout-container {
    @include media-breakpoint-up(md){
      @include transition(padding-left 0.3s ease-in-out);
    }
  }
}

.sidebar-fixed-offcanvas {
  &.sidebar-collapse {
    .layout-container {
      padding-left: 0;
    }
    .sidebar-progress {
      @include media-breakpoint-up(md){
        left: -250px;
      }
    }
  }
  &.sidebar-collapse-out {
    .sidebar-progress {
      @include media-breakpoint-up(md){
        left: 0px;
        @include transition(left 0.3s ease-in-out);
      }
    }
  }
}

/* Header Fix */
.header-fixed {
  .layout-container {
    @include media-breakpoint-up(md){
      padding-top: 76px;
    }
    .main-header {
      @include media-breakpoint-up(md){
        position: fixed;
        padding-left: 250px;
      }
    }
  }
}
.sidebar-collapse.header-fixed {
  .layout-container {
    .main-header {
      padding-left: 0px;
      @include transition(padding-left 0.3s ease-in-out);
    }
  }
}
.sidebar-collapse-out {
  .layout-container {
    .main-header {
      @include transition(padding-left 0.3s ease-in-out);
    }
  }
}


/* Sidebar Static With Footer */
.sidebar-static,
.sidebar-static-offcanvas {
  .sidebar.sidebar-with-footer {
    .slimScrollDiv {
      @include media-breakpoint-up(md){
        height: auto !important;
      }
    }
  }
}

/* Mobile Sticky Body Overlay */
.mobile-sticky-body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: rgba(0,0,0,.5);

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1045;
  }
}

/* sidebar Toggle */
.sidebar {
  .sidebar-toggle {
    background-color: transparent;
    background-image: none;
    color: $white;
    font-size: 22px;
    padding: 0px 23px;
    border: 0px;
    cursor: pointer;
    border-right: 1px solid $border-color;
    @include media-breakpoint-up(md) {
    }
    &:before {
      content: "\e800";
      font-family: "fontello";
    }
  }
}

/* Sidebar Bg Dark */
.sidebar-dark {
  .layout-sidenav {
    background-color: $navy;
  }
  .sidebar {
    .sub-menu {
      background: #1d2531;
      > li > a {
        color: #b7c0cd;
      }
    }
    .sub-menu>li.active>a,
    .sub-menu>li.active>a:focus,
    .sub-menu>li.active>a:hover,
    .sub-menu>li>a:focus,
    .sub-menu>li>a:hover {
      color: $white;
    }
    .nav > li.active > a {
      color: $white;
    }
  }
  .sidebar-progress {
    background-color: #212a39;
  }

}

/* Sidebar Light */
.sidebar-light {
  .layout-sidenav {
    background-color: $white;
  }
  .sidebar {
    border-right: 1px solid $border-color;
    .sub-menu {
      background-color: $white;
      > li > a {
        color: $secondary;
      }
    }
    .sub-menu>li.active>a,
    .sub-menu>li.active>a:focus,
    .sub-menu>li.active>a:hover,
    .sub-menu>li>a:focus,
    .sub-menu>li>a:hover {
      color: darken($secondary, 25%);
    }
    .nav > li.active > a {
      color: darken($secondary, 25%);
    }
  }
  .sidebar-progress {
    border-top: 1px solid $border-color;
    background-color: $white;
  }
  .sidebar .sub-menu > li .sub-menu > li > a:after {
    border: 1px solid $secondary;
  }
}

/* Bottom progressBar */
.sidebar-progress {
  padding: 0 30px;
  padding-top: 45px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: -190px;
  @include media-breakpoint-up(md){
    margin-top: 45px;
  }
  > h6 {
    color: #b7c0cd;
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .progress {
    height: 15px;
    margin-bottom: 22px;
    overflow: hidden;
    background-color: #e4eaec;
    border-radius: .215rem;
  }
  .progress-xs {
    height: 4px;
    border-radius: 1px;
    .progress-bar {
      line-height: 4px;
      &.progress-bar-warning {
        background: $warning;
      }
    }
  }
}
