/*=====   4.23 SWITCHERS =====*/

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.switch.switch-default {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;


  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 4px;
    transition: opacity background-color .3s 0.3s ease-out;
  }
  .switch-handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .3s ease-out;
  }
}
.switch.switch-default .switch-input:checked~.switch-handle {
  left: 37px;
}
// ========> Switch context properties
.switch-primary {
  > .switch-input:checked~.switch-label {
    background-color: $primary!important;
    border-color: $primary;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
.switch-secondary {
  > .switch-input:checked~.switch-label {
    background-color: $secondary!important;
    border-color: $secondary;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
.switch-success {
  > .switch-input:checked~.switch-label {
    background-color: $success!important;
    border-color: $success;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
.switch-info {
  > .switch-input:checked~.switch-label {
    background-color: $info!important;
    border-color: $info;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
.switch-warning {
  > .switch-input:checked~.switch-label {
    background-color: $warning!important;
    border-color: $warning;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
.switch-danger {
  > .switch-input:checked~.switch-label {
    background-color: $danger!important;
    border-color: $danger;
  }
  > .switch-input:checked~.switch-handle {
    border-color: transparent;
  }
}
// ===========> Switch Pill
.switch-pill .switch-handle,
.switch-pill .switch-label {
  border-radius: 50px!important;
}

// ===========> Switch Outline
.switch-primary-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $primary;
  }
  .switch-input:checked~.switch-label:after {
    color: $primary;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $primary;
  }
}
.switch-secondary-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $secondary;
  }
  .switch-input:checked~.switch-label:after {
    color: $secondary;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $secondary;
  }
}
.switch-success-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $success;
  }
  .switch-input:checked~.switch-label:after {
    color: $success;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $success;
  }
}
.switch-info-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $info;
  }
  .switch-input:checked~.switch-label:after {
    color: $info;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $info;
  }
}
.switch-warning-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $warning;
  }
  > .switch-input:checked~.switch-label:after {
    color: $warning;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $warning;
  }
}
.switch-danger-outline {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $danger;
  }
  > .switch-input:checked~.switch-label:after {
    color: $danger;
  }
  > .switch-input:checked~.switch-handle {
    border-color: $danger;
  }
}

// ===========> Switch Outline Alternative
.switch-primary-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $primary;
  }
  .switch-input:checked~.switch-label:after {
    color: $primary;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $primary;
    border-color: $primary;
  }
}
.switch-secondary-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $secondary;
  }
  > .switch-input:checked~.switch-label:after {
    color: $secondary;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $secondary;
    border-color: $secondary;
  }
}
.switch-success-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $success;
  }
  > .switch-input:checked~.switch-label:after {
    color: $success;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $success;
    border-color: $success;
  }
}
.switch-info-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $info;
  }
  > .switch-input:checked~.switch-label:after {
    color: $info;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $info;
    border-color: $info;
  }
}
.switch-warning-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $warning;
  }
  > .switch-input:checked~.switch-label:after {
    color: $warning;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $warning;
    border-color: $warning;
  }
}
.switch-danger-outline-alt {
  > .switch-input:checked~.switch-label {
    background-color: $white!important;
    border-color: $danger;
  }
  > .switch-input:checked~.switch-label:after {
    color: $danger;
  }
  > .switch-input:checked~.switch-handle {
    background-color: $danger;
    border-color: $danger;
  }
}

// ===========> Switch With Text
.switch.switch-text,
.switch.switch-icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;

  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $white;
    border: 1px solid #c2cfd6;
    border-radius: 2px;
    transition: opacity background .3s ease-out;
  }
  .switch-handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 1px;
    transition: left .3s ease-out;
  }
}
.switch.switch-text{
  .switch-label:after,
  .switch-label:before {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -5px;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-family-sans-roboto;
    text-align: center;
    transition: inherit;
  }
  .switch-label:before {
    right: 1px;
    color: #c2cfd6;
    content: attr(data-off);
  }
  .switch-label:after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0;
  }
}
.switch.switch-text .switch-input:checked~.switch-label:before {
  opacity: 0;
}
.switch.switch-text .switch-input:checked~.switch-label:after {
  opacity: 1;
}
.switch.switch-text .switch-input:checked~.switch-handle {
  left: 37px;
}

// ===========> Switch With Icon
.switch.switch-icon {
  .switch-label:after,
  .switch-label:before {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -5px;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-family-font-awesome;
    text-align: center;
    transition: inherit;
  }
  .switch-label:before {
    right: 1px;
    color: #c2cfd6;
    content: attr(data-off);
  }
  .switch-label:after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0;
  }
}
.switch.switch-icon .switch-input:checked~.switch-label:before {
  opacity: 0;
}
.switch.switch-icon .switch-input:checked~.switch-label:after {
  opacity: 1;
}
.switch.switch-icon .switch-input:checked~.switch-handle {
  left: 37px;
}
