/*===== TABLES =====*/
thead th,
tbody tr td:first-child {
  color: $dark;
  font-weight: 500;
}

.table-secondary td {
  background-color: $white;
  color: $dark;
}
.table-primary {
  background-color: rgba($primary, 0.6);
  color: $dark;
}
.table-info {
  background-color: rgba($info, 0.6);
  color: $dark;
}
.table-success {
  background-color: rgba($success, 0.6);
  color: $dark;
}
.table-danger {
  background-color: rgba($danger, 0.6);
  color: $dark;
}
.table-warning {
  background-color: rgba($warning, 0.6);
  color: $dark;
}

.table-dark thead th,
.table-dark tbody tr td:first-child {
  color: $white;
}

/* Table borderless */
.table-borderless th,
.table-borderless td {
  border: 0px solid #dee2e6;
}

.table-borderless thead th {
  border-bottom: 1px solid $border-color;
  font-size: 13px;
  color: $secondary;
  font-weight: 400;
  padding-top: 30px;
}
.table-borderless tbody tr:first-child td {
  padding-top: 40px;
}
.table-borderless tbody tr a.link {
  color: $dark;
  &:hover {
    color: $primary;
  }
}

.table-borderless tbody tr:last-child td {
  padding-bottom: 30px;
}
.table-borderless tbody td:first-child {
  width: 55%;
  padding-left: 0;
}

.table-borderless thead th:first-child,
.table-borderless tbody td:first-child {
  padding-left: 0px;
}

/* Card Table */
.card-table {
  margin-top: 50px;
  thead th {
    font-size: 14px;
    font-weight: 400;
    padding: 0 30px 20px 0;
    color: $secondary;
    @include media-breakpoint-up(md) {
      font-size: 17px;
    }
  }
  tbody td {
    padding: 18px 30px 18px 0;
    vertical-align: middle;
    margin: 10px 0 10px;
    font-size: 13px;
    @include media-breakpoint-up(md) {
      font-size: 15px;
    }
    a:hover {
      color: $primary!important;
    }
  }
  tbody tr {
    position: relative;
    @include transition(box-shadow 0.3s ease-in-out);
    td:first-child {
      color: $secondary;
    }
  }
  .avater {
    width: 45px;
    height: 45px;
    overflow: hidden;
  }
}

.table-responsive-large {
  @include media-breakpoint-up(xl) {
    display: inline-table;
  }
}

/* Customer Table */
.customer-table {
  .media-image{
    width: 45px;
    height: 45px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .media-body {
    h6 {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

/* Notification Block */
.notification-table {
  .table-header {
    margin-bottom: 30px;
  }
  .media {
    max-width: 70%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .media-icon {
    color: $white;
    font-size: 16px;
    &.cat-1 {
      background-color: $primary;
    }
    &.cat-2 {
      background-color: $success;
    }
    &.cat-3 {
      background-color: $warning;
    }
    &.cat-4 {
      background-color: $info;
    }
  }
  .media-body {
    a {
      font-size: 15px;
      color: $dark;
      display: inline-block;
      &:hover {
        color: $primary;
      }
    }
    p {
      font-size: 13px;
    }
  }
}

/* Products Table */
.products-table {
  .table-header {
    padding-bottom: 15px;
  }
  table tr td {
    vertical-align: middle;
    padding-top: 30px;
  }
  a.dropdown-toggle {
    &:after {
      display: none;
    }
  }
  .media {
    margin-top: 35px;
    @include media-breakpoint-up(xl) {
      margin-top: 45px;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: 35px;
    }
    .media-body {
      padding-right: 20px;
      a {
        color: $dark;
        h6 {
          font-size: 15px;
          margin-bottom: 10px;
          font-weight: 500;
          color: inherit;
        }
      }
      a:hover {
        color: $primary;
      }
      > p {
        margin-bottom: 5px;
        line-height: 1.5;
      }
    }
  }
}
