/* Toto List */
.todo-single-item {
  margin-bottom: 35px;
  position: relative;
  > span {
    margin-left: 25px;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    color: $black-color;
  }
  > span.badge {
    color: $white-color;
    @include transition(all 0.3s ease-in);
    display: inline-table;
  }
}
.todo-single-item i.fa {
  width: 18px;
  height: 18px;
  border: 1px solid #d4d5db;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 16px;
  position: absolute;
  left: 0;
  @include transition(all 0.3s ease-in);
  &:hover {
    border-color: rgba($primary-color, 0.5);
    background-color: rgba($primary-color, 0.2);
    cursor: pointer;
  }
}
.todo-input {
  display: none;
  input {
    margin-top: -5px;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    &:active,
    &:focus {
      box-shadow: 0px 2px 8px rgba($title-color, 0.2);
    }
  }
}
.todo-single-item.finished {
  > span {
    color: #8a909d;
    text-decoration: line-through;
  }
  > span.badge {
    text-decoration: none;
    background-color: #cfd0d8;
    color: #8a909d;
  }
  i.fa {
    background-color: #d4d5db;
    border-color: #d4d5db;
    &:after {
      content: "\f00c";
      font-size: 12px;
      color: $text-color;
    }
  }
}
