
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

$primary: #4c84ff;
$dark: #1b223c;
$secondary: #8a909d;
$gray-100: #f5f6fa;
$border-color: #e5e9f2;
$navy: #212a39;
$pink: #ff548e;
$success: #29cc97;
$info: #13cae1;
$warning: #fec400;
$danger: #fe5461;
$inverse: #070707;
$purple: #896def;
