/* Padding Top */
.pt-25 {
	padding-top: 25px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-35 {
	padding-top: 35px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-45 {
	padding-top: 45px;
}
.pt-55 {
	padding-top: 55px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-60 {
	padding-top: 60px;
}
.pt-65 {
	padding-top: 65px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-75 {
	padding-top: 75px;
}
.pt-80 {
	padding-top: 80px;
}
.pt-90 {
	padding-top: 90px;
}
.pt-100 {
  padding-top: 70px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
  }
}

/* Padding Bottom */
.pb-25 {
	padding-bottom: 25px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-35 {
	padding-bottom: 35px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-45 {
	padding-bottom: 45px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-55 {
	padding-bottom: 55px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-65 {
	padding-bottom: 65px;
}
.pb-70 {
	padding-bottom: 70px;
}
.pb-75 {
	padding-bottom: 75px;
}
.pb-80 {
	padding-bottom: 80px;
}
.pb-90 {
	padding-bottom: 90px;
}
.pb-100 {
	padding-bottom: 100px;
}

.pv-35 {
	padding-top: 35px;
	padding-bottom: 35px;
}
.pv-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pv-45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.pv-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.pv-55 {
	padding-top: 55px;
	padding-bottom: 55px;
}
.pv-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.pv-65 {
	padding-top: 65px;
	padding-bottom: 65px;
}
.pv-70 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.pv-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}
.pv-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.pv-90 {
	padding-top: 90px;
	padding-bottom: 90px;
}
.pv-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

/*  margin top */
.mt-30 {
	margin-top: 30px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}
.mt-70 {
	margin-top: 70px;
}
.mt-75 {
	margin-top: 75px;
}
.mt-80 {
	margin-top: 80px;
}
.mt-85 {
	margin-top: 85px;
}
.mt-90 {
	margin-top: 90px;
}
.mt-95 {
	margin-top: 95px;
}
.mt-100 {
  margin-top: 100px;
}

/* Margin Bottom */ 
.mb-30 {
	margin-bottom: 30px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-75 {
	margin-bottom: 75px;
}
.mb-80 {
	margin-bottom: 80px;
}
.mb-85 {
	margin-bottom: 85px;
}
.mb-90 {
	margin-bottom: 90px;
}
.mb-95 {
	margin-bottom: 95px;
}
.mb-100 {
  margin-bottom: 100px ;
}

.min-height-vh83 {
	min-height: 83vh !important;
}
