---
layout: default
title: "Sidebar With Footer - Sleek Admin Dashboard Template"
bodyClass: "sidebar-fixed sidebar-dark header-fixed header-light"

parent: "layouts"
sub_parent: "sidebar-nav"
activePage: "sidebar-with-footer"
---

							<div class="row">
								<div class="col-lg-12">
									<div class="card card-default mb-4 mt-3 mt-md-0 bg-white">
										<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0 pt-5">
											<h2>Sidebar With Footer </h2>
										</div>
										<div class="card-body">
											<blockquote class="blockquote">
												<p class="mb-0">Add class
													<code>sidebar-with-footer</code> to
													<code>&lt;body id="sidebar" class="sidebar"&gt;</code> like below.</p>
											</blockquote>
											<pre class="mt-4"><code>&lt;body id="sidebar" class="sidebar sidebar-with-footer"&gt;</code></pre>
										</div>
									</div>
								</div>
							</div>
