<div class="theme-option">
    <div class="layout-settings-container">
      <div class="slim-scroll-layout-settings">

      <div class="layout-settings-header">
        <h2>Layout Settings</h2>
        <p>User Interface Settings</p>
        <div class="layout-settings-close-btn">
          <i class="mdi mdi-window-close"></i>
        </div>
      </div>

      <div class="layout-settings-body">
        <span class="layout-subtitle">Header Layout</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-layout header-fixed-to btn-layout-active">Fixed</a>
          <a href="javascript:void(0);" class="btn-layout header-static-to">Static</a>
        </div>

        <span class="layout-subtitle">Sidebar Layout</span>
        <div class="no-col-space">
          <select class="layout-settings-select" id="sidebar-option-select">
            <option value="sidebar-fixed">Fixed Default</option>
            <option value="sidebar-fixed-minified">Fixed Minified</option>
            <option value="sidebar-fixed-offcanvas">Fixed Offcanvas</option>
            <option value="sidebar-static">Static Default</option>
            <option value="sidebar-static-minified">Static Minified</option>
            <option value="sidebar-static-offcanvas">Static Offcanvas</option>
          </select>
        </div>

        <span class="layout-subtitle">Header Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-layout btn-layout-active header-light-to">Light</a>
          <a href="javascript:void(0);" class="btn-layout header-dark-to">Dark</a>
        </div>

        <span class="layout-subtitle">Navigation Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-layout btn-layout-active sidebar-dark-to">Dark</a>
          <a href="javascript:void(0);" class="btn-layout sidebar-light-to">Light</a>
        </div>

        <span class="layout-subtitle">Direction</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-layout btn-layout-active ltr-to">LTR</a>
          <a href="javascript:void(0);" class="btn-layout rtl-to">RTL</a>
        </div>

        <div class="d-flex justify-content-center" style="padding-top: 30px">
          <div id="reset-options" style="width: auto; cursor: pointer" class="btn-layout btn-reset">Reset
            Settings</div>
        </div>

      </div>

    </div>
  </div>

</div>
