<!DOCTYPE html>
<html lang="en" dir="{% if page.rtl %}rtl{% else %}ltr{% endif %}">
{% include base/head.html %}

<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  {% if site.environment == "demo" %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3VCMND" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  {% if page.activePage == 'index' %}
  <div id="toaster"></div>
  {% endif %}

  <div class="wrapper">
    <!-- Github Link -->
    <a href="https://github.com/tafcoder/sleek-dashboard"  target="_blank" class="github-link">
      <svg width="70" height="70" viewBox="0 0 250 250" aria-hidden="true">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="75%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#896def;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#482271;stop-opacity:1" />
          </linearGradient>
        </defs>
        <path d="M 0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z" fill="url(#grad1)"></path>
      </svg>
      <i class="mdi mdi-github-circle"></i>
    </a>

    {% include base/left-sidebar.html %}

    <div class="page-wrapper">
      {% include base/header.html %}

      <div class="content-wrapper">
        <div class="content">{{ content }}</div>

        {% if page.activePage == 'right-sidebar' %}
        {% include base/right-sidebar.html %}
        {% endif %}

        {% include base/right-sidebar-2.html %}
      </div>

      {% include base/footer.html %}
    </div>
  </div>

  {% include base/scripts.html %}
</body>

</html>
