        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/index.html" title="Sleek Dashboard">
                <svg
                  class="brand-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid"
                  width="30"
                  height="33"
                  viewBox="0 0 30 33"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      class="logo-fill-blue"
                      fill="#7DBCFF"
                      d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
                    />
                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                  </g>
                </svg>
                <span class="brand-name text-truncate">Sleek Dashboard</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="" data-simplebar style="height: 100%;">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="has-sub @@if (parent === 'dashboard'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="mdi mdi-view-dashboard-outline"></i>
                    <span class="nav-text">Dashboard</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse @@if (parent === 'dashboard'){show}" id="dashboard" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="@@if (active === 'ecommerce'){active}">
                        <a class="sidenav-item-link" href="index.html">
                          <span class="nav-text">Ecommerce</span>
                        </a>
                      </li>

                      <li class="@@if (active === 'analytics'){active}">
                        <a class="sidenav-item-link" href="analytics.html">
                          <span class="nav-text">Analytics</span>
                          <span class="badge badge-success">new</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>


                <!-- <li class="section-title">
                  UI Elements
                </li> -->

                <li class="has-sub @@if (parent === 'ui-components'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-components"
                    aria-expanded="false" aria-controls="ui-components">
                    <i class="mdi mdi-folder-outline"></i>
                    <span class="nav-text">UI Components</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse @@if (parent === 'ui-components'){show}" id="ui-components" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="@@if (active === 'alert'){active}">
                        <a class="sidenav-item-link" href="alert.html">
                          <span class="nav-text">Alert</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'badge'){active}">
                        <a class="sidenav-item-link" href="badge.html">
                          <span class="nav-text">Badge</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'breadcrumb'){active}">
                        <a class="sidenav-item-link" href="breadcrumb.html">
                          <span class="nav-text">Breadcrumb</span>

                        </a>
                      </li>
                      <li class="has-sub @@if (sub_parent === 'buttons'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#buttons"
                          aria-expanded="false" aria-controls="buttons">
                          <span class="nav-text">Buttons</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'buttons'){show}" id="buttons">
                          <div class="sub-menu">
                            <li class="@@if (active === 'button-default'){active}">
                              <a href="button-default.html">Button Default</a>
                            </li>
                           <li class="@@if (active === 'button-dropdown'){active}">
                              <a href="button-dropdown.html">Button Dropdown</a>
                            </li>
                           <li class="@@if (active === 'button-group'){active}">
                              <a href="button-group.html">Button Group</a>
                            </li>
                           <li class="@@if (active === 'button-social'){active}">
                              <a href="button-social.html">Button Social</a>
                            </li>
                           <li class="@@if (active === 'button-loading'){active}">
                              <a href="button-loading.html">Button Loading</a>
                            </li>
                          </div>
                        </ul>
                      </li>
                      <li class="@@if (active === 'card'){active}">
                        <a class="sidenav-item-link" href="card.html">
                          <span class="nav-text">Card</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'carousel'){active}">
                        <a class="sidenav-item-link" href="carousel.html">
                          <span class="nav-text">Carousel</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'collapse'){active}">
                        <a class="sidenav-item-link" href="collapse.html">
                          <span class="nav-text">Collapse</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'editor'){active}">
                        <a class="sidenav-item-link" href="editor.html">
                          <span class="nav-text">Editor</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'list-group'){active}">
                        <a class="sidenav-item-link" href="list-group.html">
                          <span class="nav-text">List Group</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'modal'){active}">
                        <a class="sidenav-item-link" href="modal.html">
                          <span class="nav-text">Modal</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'pagination'){active}">
                        <a class="sidenav-item-link" href="pagination.html">
                          <span class="nav-text">Pagination</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'popover-tooltip'){active}">
                        <a class="sidenav-item-link" href="popover-tooltip.html">
                          <span class="nav-text">Popover & Tooltip</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'progress-bar'){active}">
                        <a class="sidenav-item-link" href="progress-bar.html">
                          <span class="nav-text">Progress Bar</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'spinner'){active}">
                        <a class="sidenav-item-link" href="spinner.html">
                          <span class="nav-text">Spinner</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'switches'){active}">
                        <a class="sidenav-item-link" href="switches.html">
                          <span class="nav-text">Switches</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'tabs'){active}">
                        <a class="sidenav-item-link" href="tab.html">
                          <span class="nav-text">Tab</span>
                        </a>
                      </li>
                      <li class="has-sub @@if (sub_parent === 'tables'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#tables"
                          aria-expanded="false" aria-controls="tables">
                          <span class="nav-text">Tables</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'tables'){show}" id="tables">
                          <div class="sub-menu">
                            <li class="@@if (active === 'bootstarp-tables'){active}">
                              <a href="bootstarp-tables.html">Bootstrap Tables</a>
                            </li>
                            <li class="@@if (active === 'data-tables'){active}">
                              <a href="data-tables.html">Data Tables</a>
                            </li>
                          </div>
                        </ul>
                      </li>

                      <li class="@@if (active === 'toaster'){active}">
                        <a class="sidenav-item-link" href="toaster.html">
                          <span class="nav-text">Toaster</span>
                        </a>
                      </li>

                      <li class="has-sub @@if (sub_parent === 'icons'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#icons"
                          aria-expanded="false" aria-controls="icons">
                          <span class="nav-text">Icons</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'icons'){show}" id="icons">
                          <div class="sub-menu">
                            <li class="@@if (active === 'material-icons'){active}">
                              <a href="material-icons.html">Material Icon</a>
                            </li>
                            <li class="@@if (active === 'flag-icons'){active}">
                              <a href="flag-icons.html">Flag Icon</a>
                            </li>
                          </div>
                        </ul>
                      </li>
                      <li class="has-sub @@if (sub_parent === 'forms'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms"
                          aria-expanded="false" aria-controls="forms">
                          <span class="nav-text">Forms</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'forms'){show}" id="forms">
                          <div class="sub-menu">
                            <li class="@@if (active === 'basic-input'){active}">
                              <a href="basic-input.html">Basic Input</a>
                            </li>

                            <li class="@@if (active === 'input-group'){active}">
                              <a href="input-group.html">Input Group</a>
                            </li>

                            <li class="@@if (active === 'checkbox-radio'){active}">
                              <a href="checkbox-radio.html">Checkbox & Radio</a>
                            </li>

                            <li class="@@if (active === 'form-validation'){active}">
                              <a href="form-validation.html">Form Validation</a>
                            </li>

                            <li class="@@if (active === 'form-advance'){active}">
                              <a href="form-advance.html">Form Advance</a>
                            </li>

                          </div>
                        </ul>
                      </li>

                      <li class="has-sub @@if (sub_parent === 'maps'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#maps"
                          aria-expanded="false" aria-controls="maps">
                          <span class="nav-text">Maps</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'maps'){show}" id="maps">
                          <div class="sub-menu">

                            <li class="@@if (active === 'google-maps'){active}">
                              <a href="google-maps.html">Google Map</a>
                            </li>

                            <li class="@@if (active === 'vector-maps'){active}">
                              <a href="vector-maps.html">Vector Map</a>
                            </li>

                          </div>
                        </ul>
                      </li>

                      <li class="has-sub @@if (sub_parent === 'widgets'){active expand}">
                        <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#widgets"
                          aria-expanded="false" aria-controls="widgets">
                          <span class="nav-text">Widgets</span> <b class="caret"></b>
                        </a>
                        <ul class="collapse @@if (sub_parent === 'widgets'){show}" id="widgets">
                          <div class="sub-menu">

                            <li class="@@if (active === 'widgets-general'){active}">
                              <a href="widgets-general.html">General Widget</a>
                            </li>

                            <li class="@@if (active === 'widgets-chart'){active}">
                              <a href="widgets-chart.html">Chart Widget</a>
                            </li>

                          </div>
                        </ul>
                      </li>

                    </div>
                  </ul>
                </li>

                <li class="has-sub @@if (parent === 'charts'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                    aria-expanded="false" aria-controls="charts">
                    <i class="mdi mdi-chart-pie"></i>
                    <span class="nav-text">Charts</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse @@if (parent === 'charts'){show}" id="charts" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="@@if (active === 'apex-chart'){active}">
                        <a class="sidenav-item-link" href="apex-chart-js.html">
                          <span class="nav-text">Apex ChartJS</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <!-- <li class="section-title">
                  Pages
                </li> -->
                <li class="has-sub @@if (parent === 'users'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#users"
                    aria-expanded="false" aria-controls="users">
                    <i class="mdi mdi-image-filter-none"></i>
                    <span class="nav-text">User</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse @@if (parent === 'users'){show}" id="users" data-parent="#sidebar-menu">
                    <div class="sub-menu ">
                      <li class="@@if (active === 'user-profile'){active}">
                        <a class="sidenav-item-link" href="user-profile.html">
                          <span class="nav-text">User Profile</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-activities'){active}">
                        <a class="sidenav-item-link" href="user-activities.html">
                          <span class="nav-text">User Activities</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-profile-settings'){active}">
                        <a class="sidenav-item-link" href="user-profile-settings.html">
                          <span class="nav-text">User Profile Settings</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-account-settings'){active}">
                        <a class="sidenav-item-link" href="user-account-settings.html">
                          <span class="nav-text">User Account Settings</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-planing-settings'){active}">
                        <a class="sidenav-item-link" href="user-planing-settings.html">
                          <span class="nav-text">User Planing Settings</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-billing'){active}">
                        <a class="sidenav-item-link" href="user-billing.html">
                          <span class="nav-text">User billing</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'user-notify-settings'){active}">
                        <a class="sidenav-item-link" href="user-notify-settings.html">
                          <span class="nav-text">User Notify Settings</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li class="has-sub">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#authentication"
                    aria-expanded="false" aria-controls="authentication">
                    <i class="mdi mdi-account"></i>
                    <span class="nav-text">Authentication</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse" id="authentication" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li>
                        <a class="sidenav-item-link" href="sign-in.html">
                          <span class="nav-text">Sign In</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="sign-up.html">
                          <span class="nav-text">Sign Up</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="reset-password.html">
                          <span class="nav-text">Reset Password</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li class="has-sub @@if (parent === 'email'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#email"
                    aria-expanded="false" aria-controls="email">
                    <i class="mdi mdi-email"></i>
                    <span class="nav-text">email</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse @@if (parent === 'email'){show}" id="email" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="@@if (active === 'email-inbox'){active}">
                        <a class="sidenav-item-link" href="email-inbox.html">
                          <span class="nav-text">Email Inbox</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'email-details'){active}">
                        <a class="sidenav-item-link" href="email-details.html">
                          <span class="nav-text">Email Details</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'email-compose'){active}">
                        <a class="sidenav-item-link" href="email-compose.html">
                          <span class="nav-text">Email Compose</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li class="has-sub @@if (parent === 'other-page'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#other-page"
                    aria-expanded="false" aria-controls="other-page">
                    <i class="mdi mdi-file-multiple"></i>
                    <span class="nav-text">Other pages</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse @@if (parent === 'other-page'){show}" id="other-page" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li>
                        <a class="sidenav-item-link" href="404.html">
                          <span class="nav-text">404 page</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="page-comingsoon.html">
                          <span class="nav-text">Coming Soon</span>
                        </a>
                      </li>
                      <li>
                        <a class="sidenav-item-link" href="page-maintenance.html">
                          <span class="nav-text">Maintenance</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'invoice'){active}">
                        <a class="sidenav-item-link" href="invoice.html">
                          <span class="nav-text">invoice</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
                <!-- <li class="section-title">
                  Documentation
                </li> -->
                <li class="@@if (parent === 'getting-started'){active}">
                  <a class="sidenav-item-link" href="getting-started.html">
                    <i class="mdi mdi-airplane"></i>
                    <span class="nav-text">Getting Started</span>
                  </a>
                </li>
                <li class="has-sub @@if (parent === 'customization'){active expand}">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#customization"
                    aria-expanded="false" aria-controls="customization">
                    <i class="mdi mdi-square-edit-outline"></i>
                    <span class="nav-text">Customization</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse @@if (parent === 'customization'){show}" id="customization" data-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="@@if (active === 'navbar'){active}">
                        <a class="sidenav-item-link" href="navbar-customization.html">
                          <span class="nav-text">Navbar</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'sidebar'){active}">
                        <a class="sidenav-item-link" href="sidebar-customization.html">
                          <span class="nav-text">Sidebar</span>
                        </a>
                      </li>
                      <li class="@@if (active === 'styling'){active}">
                        <a class="sidenav-item-link" href="styling.html">
                          <span class="nav-text">Styling</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

              </ul>
            </div>

            <div class="sidebar-footer">
              <hr class="separator mb-0" />
              <div class="sidebar-footer-content">
                <h6 class="text-uppercase">
                  Cpu Uses <span class="float-right">40%</span>
                </h6>
                <div class="progress progress-xs">
                  <div
                    class="progress-bar active"
                    style="width: 40%;"
                    role="progressbar"
                  ></div>
                </div>
                <h6 class="text-uppercase">
                  Memory Uses <span class="float-right">65%</span>
                </h6>
                <div class="progress progress-xs">
                  <div
                    class="progress-bar progress-bar-warning"
                    style="width: 65%;"
                    role="progressbar"
                  ></div>
                </div>
              </div>
            </div>

          </div>
        </aside>
