---
layout: default
title: "Sleek - Admin Dashboard Template"
bodyClass: "header-fixed sidebar-fixed sidebar-dark header-light"

parent: "ui-elements"
sub_parent: "components"
activePage: "alert"
---
					
							<div class="d-lg-flex align-items-center mb-4">
								<h1 class="text-dark mr-3">Alert</h1>
									{% include breadcrumb.htm %}
							</div>
							<p class="bg-white p-4 border mb-4">Indicate the current page’s location within a navigational hierarchy that
								automatically adds separators via CSS.</p>							

							<div class="card card-default bg-white mb-4 mt-3 mt-md-0">
								<div class="card-header bg-white py-4">
									<h2>Default Alerts </h2>
								</div>
								<div class="card-body">
									<p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert
										messages. <a href="https://getbootstrap.com/docs/4.1/components/alerts/">More info</a></p>
								</div>
							</div>
							<div class="card card-default mb-4 mt-3 mt-md-0 bg-white pt-5">
								<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0">
									<h2>Default Alerts </h2>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<label for="primary">primary alerts</label>
											<div class="alert alert-primary" role="alert">
												This is a primary alert—check it out!
											</div>

											<label for="secondary">secondary alerts</label>
											<div class="alert alert-secondary" role="alert">
												This is a secondary alert—check it out!
											</div>

											<label for="success">success alerts</label>
											<div class="alert alert-success" role="alert">
												This is a success alert—check it out!
											</div>

											<label for="danger">danger alerts</label>
											<div class="alert alert-danger" role="alert">
												A simple danger alert—check it out!
											</div>
										</div>
										<div class="col-lg-6">
											<label for="warning">warning alerts</label>
											<div class="alert alert-warning" role="alert">
												This is a warning alert—check it out!
											</div>

											<label for="info">info alerts</label>
											<div class="alert alert-info" role="alert">
												This is a info alert—check it out!
											</div>

											<label for="light">light alerts</label>
											<div class="alert alert-light" role="alert">
												This is a light alert—check it out!
											</div>
											<label for="dark">dark alerts</label>
											<div class="alert alert-dark" role="alert">
												This is a dark alert—check it out!
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Icon Alert -->
							<div class="card card-default mb-4 mt-3 mt-md-0 bg-white pt-5">
								<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0">
									<h2>Iconic Alerts with Background </h2>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<label for="primary">primary alerts</label>
											<div class="alert alert-primary" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a primary alert—check it out!
											</div>
											<label for="secondary">secondary alerts</label>
											<div class="alert alert-secondary" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a secondary alert—check it out!
											</div>
											<label for="success">success alerts</label>
											<div class="alert alert-success" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a success alert—check it out!
											</div>
											<label for="danger">danger alerts</label>
											<div class="alert alert-danger" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a danger alert—check it out!
											</div>
										</div>
										<div class="col-lg-6">
											<label for="warning">warning alerts</label>
											<div class="alert alert-warning" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a warning alert—check it out!
											</div>
											<label for="info">info alerts</label>
											<div class="alert alert-info" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a info alert—check it out!
											</div>
											<label for="light">light alerts</label>
											<div class="alert alert-light" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a light alert—check it out!
											</div>
											<label for="dark">dark alerts</label>
											<div class="alert alert-dark" role="alert">
												<i class="mdi mdi-alert mr-1"></i> This is a dark alert—check it out!
											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- Dismisable alerts -->
							<div class="card card-default mb-4 mt-3 mt-md-0 bg-white pt-5">
								<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0">
									<h2>Dismissible Alerts</h2>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<label for="primary">primary alerts</label>
											<div class="alert alert-dismissible fade show alert-primary" role="alert">
												This is a primary alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="secondary">secondary alerts</label>
											<div class="alert alert-dismissible fade show alert-secondary" role="alert">
												This is a secondary alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="success">success alerts</label>
											<div class="alert alert-dismissible fade show alert-success" role="alert">
												This is a success alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="danger">danger alerts</label>
											<div class="alert alert-dismissible fade show alert-danger" role="alert">
												This is a danger alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										</div>
										<div class="col-lg-6">
											<label for="warning">warning alerts</label>
											<div class="alert alert-dismissible fade show alert-warning" role="alert">
												This is a warning alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="info">info alerts</label>
											<div class="alert alert-dismissible fade show alert-info" role="alert">
												This is a info alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="light">light alerts</label>
											<div class="alert alert-dismissible fade show alert-light" role="alert">
												This is a light alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="dark">dark alerts</label>
											<div class="alert alert-dismissible fade show alert-dark" role="alert">
												This is a dark alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- highlighted alerts -->
							<div class="card card-default mb-4 mt-3 mt-md-0 bg-white pt-5">
								<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0">
									<h2>Heightlighted Alerts </h2>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<label for="primary">primary alerts</label>
											<div class="alert alert-primary alert-highlighted" role="alert">
												This is a primary alert—check it out!
											</div>
											<label for="secondary">secondary alerts</label>
											<div class="alert alert-secondary alert-highlighted" role="alert">
												This is a secondary alert—check it out!
											</div>
											<label for="success">success alerts</label>
											<div class="alert alert-success alert-highlighted" role="alert">
												This is a success alert—check it out!
											</div>
											<label for="danger">danger alerts</label>
											<div class="alert alert-danger alert-highlighted" role="alert">
												This is a danger alert—check it out!
											</div>
										</div>
										<div class="col-lg-6">
											<label for="warning">warning alerts</label>
											<div class="alert alert-warning alert-highlighted" role="alert">
												This is a warning alert—check it out!
											</div>
											<label for="info">info alerts</label>
											<div class="alert alert-info alert-highlighted" role="alert">
												This is a info alert—check it out!
											</div>
											<label for="light">light alerts</label>
											<div class="alert alert-light alert-highlighted" role="alert">
												This is a light alert—check it out!
											</div>
											<label for="dark">dark alerts</label>
											<div class="alert alert-dark alert-highlighted" role="alert">
												This is a dark alert—check it out!
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Outline Alerts -->
							<div class="card card-default mb-4 mt-3 mt-md-0 bg-white pt-5">
								<div class="card-header d-flex flex-wrap justify-content-between bg-white border-bottom-0 pb-xl-0">
									<h2> Outline Alerts </h2>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-lg-6">
											<label for="primary">primary alerts</label>
											<div class="alert alert-primary alert-outlined alert-dismissible fade show" role="alert">
												This is a primary alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="secondary">secondary alerts</label>
											<div class="alert alert-secondary alert-outlined alert-dismissible fade show" role="alert">
												This is a secondary alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="success">success alerts</label>
											<div class="alert alert-success alert-outlined alert-dismissible fade show" role="alert">
												This is a success alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="danger">danger alerts</label>
											<div class="alert alert-danger alert-outlined alert-dismissible fade show" role="alert">
												This is a danger alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										</div>
										<div class="col-lg-6">
											<label for="warning">warning alerts</label>
											<div class="alert alert-warning alert-outlined alert-dismissible fade show" role="alert">
												This is a warning alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="info">info alerts</label>
											<div class="alert alert-info alert-outlined alert-dismissible fade show" role="alert">
												This is a info alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="light">light alerts</label>
											<div class="alert alert-light alert-outlined alert-dismissible fade show" role="alert">
												This is a light alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<label for="dark">dark alerts</label>
											<div class="alert alert-dark alert-outlined alert-dismissible fade show" role="alert">
												This is a dark alert—check it out!
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						

